<main class="p-5">
    <div class="card p-5">
        <p>Hello world!</p>
        <h1>Vladique</h1>
    </div>

    <div style="padding: 50px 0 50px 100px; background: gray">
        <span>Hello World, my name is Vlad!</span>
        <span>Hello World, my name is Vlad!</span>
        <span>Hello World, my name is Vlad!</span>
        <span class="test">Hello World, my name is Vlad!</span>
    </div>
</main>