{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{!-- <div class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>

    <button type="button" class="btn btn-primary">Купити</button>

    <p>This is my text</p>

</div>

<footer>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <div>
        <div>
            <em>TEST EMMMMMM</em>
        </div>
    </div>

</footer> --}}

{{!-- <div class="row">
    <div class="card col-4 p-5 m-5 card-dark">
        <ul>
            <li class="item">1</li>
            <li class="item">2</li>
            <li class="item">3</li>
            <li class="item">4</li>
        </ul>

        <ul>
            <li class="item">1</li>
        </ul>

        <p>333333</p>

        <div>
            <b>First</b>
            <p>Second</p>
            <p>Last</p>
        </div>

        <p>Last of type</p>

        <ol>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
            <li>Four</li>
            <li>Five</li>
        </ol>

        <div>
            <strong>FIVE</strong>
            <strong class="big">SIX</strong>
            <p></p>
            <p></p>
        </div>
    </div>
</div> --}}


{{!-- <div class="card col-4 p-5 m-5 card-dark">
    <input class="input-dark" placeholder="This TEXT" required>
    <input class="input-dark" type="number">
</div>

<div class="card col-4 p-5 m-5 card-dark">
    <img alt="image card small 100 px" class="small-img" src="https://picsum.photos/200/300" height="100px">
    <div class="my-3">
        <button class="btn">Click me</button>
    </div>
    <div class="my-3">
        <a class="btn btn-warning" href="https://picsum.photos/200/300">Click me</a>
    </div>
    <div class="my-3">
        <a class="small btn btn-secondary" href="https://picsum.photos/200/300">Click me</a>
    </div>
</div>

<div class="card col-4 p-5 m-5 card-dark">
    <p class="big-text">This is my text info <br> im writing it right now</p>
</div> --}}


<div lang="ua" class="card col-4 p-5 m-5 card-dark">
    <a class="link" href="#test">Click me</a>
</div>

<div lang="en" id="test" class="card col-4 p-5 m-5 card-dark">
    <input>
    <span>Text</span>
</div>

<div class="col-4 p-5 m-5 card-dark">
    <button>Test button</button>
    <button disabled>Disabled button</button>
</div>

<div class="col-4 p-5 m-5 card-dark">
    <input class="inp" readonly>
    <div class="mt-5">
        <div>
            <input type="checkbox" checked>
            <span>First checkbox</span>
        </div>
        <div>
            <input type="checkbox">
            <span>Second checkbox</span>
        </div>
    </div>
</div>

<div class="col-4 p-5 m-5 card-dark">
    <div>
        <input type="email" class="valid" placeholder="test">
        <span>Test</span>
    </div>
    <div>
        <div class="mt-5">
            <input type="number" min="10" max="20" required class="number">
        </div>
    </div>